<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sellba.app.sellbatery">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@mipmap/rayo_transparente"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rayo_transparente"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sellba.app.sellbatery.MainActivity"

            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sellba.app.sellbatery.LoginActivity"

            android:screenOrientation="portrait" />
        <activity android:name="com.sellba.app.sellbatery.WelcomeActivity"

            android:screenOrientation="portrait" >

        </activity>
        <activity android:name="com.sellba.app.sellbatery.Activities.MenuActivity"

            android:screenOrientation="portrait" />
        <activity android:name="com.sellba.app.sellbatery.Activities.AddArticuloActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.sellba.app.sellbatery.Activities.ArticuloActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.sellba.app.sellbatery.Activities.ProfileActivity"
            android:screenOrientation="portrait"  />
        <activity android:name="com.sellba.app.sellbatery.Activities.ChangePasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.sellba.app.sellbatery.Activities.ChangeEmailActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>